{{#partial "content"}}
    <div class="alert alert-danger">
        <p>Successfully Deleted</p>
        <button class="btn btn-dark"><a href="/squad">View Squads</a></button>
    </div>
{{/partial}}

{{> layout.hbs}}