{{#partial "content"}}
<div class="content">
    <br><br>
    <p><strong>"Heroes aren't Born. They're Built."</strong></p>

    <br><br>
    <button style="background-color: black" class="btn btn-success"><a href="/squadform">BUILD SQUAD</a></button>
</div>
    {{#if squads}}
        {{#each squads}}
            <p>Squad Available:</p>
            <p>{{content}} <a href="/squad/{{id}}"></a></p>
        {{/each}}
    {{else}}
        <br><br>
        <p class="text-center"><strong>No Squad</strong></p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}