{{#partial "content"}}
    <p>Add a new Squad:</p>

    <form action="/squad" method="post">
        <div class="form-group">
            <label for="squadName">Squad Name</label>
            <input id="squadName" name="squadName" class= "form-control" type="text">
        </div>
        <div class="form-group">
            <label for="maxSize">Max size</label>
            <input id="maxSize" name="maxSize" class="form-control" type="number">
        </div>
        <div class="form-group">
            <label for="cause">Cause</label>
            <input id="cause" name="cause" class="form-control" type="text">
        </div>


        <button type="submit" class="btn btn-default">Create Squad</button>
    </form>
{{/partial}}

{{> layout.hbs}}